{
  "swagger": "2.0",
  "info": {
    "title": "API",
    "description": "This is a API API (mind blown)",
    "termsOfService": "http://stack.network/terms-of-service.html",
    "version": "v1"
  },
  "host": "api.api.kinlane.com",
  "basePath": "/",
  "schemes": [
    "http"
  ],
  "produces": [
    "apilication/json"
  ],
  "paths": {
    "api/": {
      "get": {
        "summary": "retrieves all apis",
        "description": "pulls all apis, with filter by keyword",
        "operationId": "getAPIs",
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "description": "a text query to search across api",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "api response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/api"
              }
            }
          }
        },
        "tags": [
          "api",
          "apiging"
        ]
      },
      "post": {
        "summary": "add api",
        "description": "add a new api",
        "operationId": "addAPI",
        "parameters": [
          {
            "name": "name",
            "in": "query",
            "description": "name of the api",
            "required": true,
            "type": "string"
          },
          {
            "name": "description",
            "in": "query",
            "description": "description of the api",
            "required": true,
            "type": "string"
          },
          {
            "name": "url",
            "in": "query",
            "description": "url for the api",
            "required": true,
            "type": "string"
          },
          {
            "name": "tags",
            "in": "query",
            "description": "tags for the api",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "api response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/api"
              }
            }
          }
        },
        "tags": [
          "api",
          "apiging"
        ]
      }
    },
    "api/{slug}": {
      "get": {
        "summary": "Retrieve a api using its slug",
        "description": "Returns the api detail",
        "operationId": "getAPI",
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "description": "slug for the api, notice this is in the path, not a query variable",
            "required": "true",
            "type": "integer",
            "format": "id"
          }
        ],
        "responses": {
          "200": {
            "description": "api response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/api"
              }
            }
          }
        },
        "tags": [
          "api",
          "apiging"
        ]
      },
      "put": {
        "summary": "update api",
        "description": "update api",
        "operationId": "updateAPI",
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "description": "unique slug for the api",
            "required": true,
            "type": "string"
          },
          {
            "name": "name",
            "in": "query",
            "description": "name of the api",
            "required": true,
            "type": "string"
          },
          {
            "name": "description",
            "in": "query",
            "description": "description of the api",
            "required": true,
            "type": "string"
          },
          {
            "name": "url",
            "in": "query",
            "description": "url for the api",
            "required": true,
            "type": "string"
          },
          {
            "name": "tags",
            "in": "query",
            "description": "tags for the api",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "api response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/api"
              }
            }
          }
        },
        "tags": [
          "api",
          "apiging"
        ]
      },
      "delete": {
        "summary": "delete api",
        "description": "deletes an api",
        "operationId": "deleteAPI",
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "description": "unique slug for the api",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "api response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/api"
              }
            }
          }
        },
        "tags": [
          "api",
          "apiging"
        ]
      }
    }
  },
  "definitions": {
    "api": {
      "properties": {
        "name": {
          "description": "name of the api",
          "type": "string",
          "format": "label"
        },
        "description": {
          "description": "description of the api",
          "type": "string"
        },
        "url": {
          "description": "url for the api",
          "type": "string"
        },
        "tags": {
          "description": "tags for the api",
          "type": "string"
        },
        "slug": {
          "description": "slug for the api",
          "type": "string",
          "format": "id"
        }
      }
    },
    "errorModel": {
      "required": [
        "code",
        "message"
      ],
      "properties": {
        "code": {
          "type": "integer",
          "format": "int32"
        },
        "message": {
          "type": "string"
        }
      }
    }
  }
}
